extends ../layouts/default

block main
  h1= title

block content
  - if (templates.length)
    - each template in templates
      include template

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No templates.&nbsp;
      a(href="/template/new") create one
